section.meet-the-team{
  background: $base-gray;
  .para-wrap{
    padding: 70px;
    p{
      line-height: 1.9em;
      width: 500px;
      padding: 30px 0;
      font-weight: 300;
    }
    .btn{
      background: $accent-color;
      padding: 20px 60px;
      color: white;
      font-weight: bold;
    }
  h2{
    text-transform: uppercase;
    font-family: $btn-font;
    margin: 0;
    padding: 0;
  }
}
}
