doctype html
head
  meta(charset="utf-8")
  title Home
  link(rel="stylesheet", href="css/main.css", media="screen", title="no title")
  link(rel="stylesheet", href="bower_components/flex-class/flex.css", media="screen", title="no title")
  link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css", media="screen", title="no title")
  script(type="text/javascript",src="bower_components/jquery/dist/jquery.min.js")
  link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,700|Raleway:100,100i,200,300,400,700,800,900|Slabo+27px", rel="stylesheet")
  
  
  
  
body
  nav.global.flex.flex--space-between.align-center
    .logo
      h2 A
    .nav-wrapper.flex.flex--end.align-end
      a(href="") Home
      a(href="") About
      a(href="") Services
      a(href="") Team
      a(href="") Clients
  header.flex.flex--start.align-start.columns
    .title-wrap
      h1 Welcome To Asset Chemist
  section.what-we-do.flex.flex--center.align-center.rows
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook.fa-2x
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook.fa-2x
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook.fa-2x
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-facebook.fa-2x
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
  
  section.meet-the-team.flex.flex--center.align-center.rows
    .para-wrap.flex.flex--start.align-start.columns
      h2 Meet Our Company 
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique incidunt magnam odit fuga nisi sit numquam in ipsam dolorum, rerum, explicabo ipsa soluta dolore vero, libero odio possimus veniam!
      a.btn(href="",title="The Latest") SEE OUR LATEST WORK
