doctype html
head
  meta(charset="utf-8")
  title Home
  link(rel="stylesheet", href="css/main.css", media="screen", title="no title")
  link(rel="stylesheet", href="bower_components/flex-class/flex.css", media="screen", title="no title")
  link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css", media="screen", title="no title")
  script(type="text/javascript",src="bower_components/jquery/dist/jquery.min.js")
  link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet")
  
  
body
  nav.global.flex.flex--space-between.align-center
    .logo.flex.flex--center.align-center
      h2 A
    .nav-wrapper.flex.flex--end.align-end
      a(href="") Home
      a(href="") About
      a(href="") Services
      a(href="") Team
      a(href="") Clients
  header.flex.flex--center.align-center.columns
    .title-wrap
      h1 Welcome To Asset Chemist
  section.what-we-do.flex.flex--center.align-center.rows
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-connectdevelop
      h3 Global Strategy
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-connectdevelop
      h3 Global Strategy
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-connectdevelop
      h3 Global Strategy
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
    .flex-unit.flex.flex--center.align-center.columns
      i.fa.fa-connectdevelop
      h3 Global Strategy
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.
  
  section.meet-the-team.flex.flex--start.align-start.rows
    .para-wrap.flex.flex--start.align-start.columns
      h2 Meet Our Company 
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a.btn(href="",title="The Latest") SEE OUR LATEST WORK
