<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title">
  <link rel="stylesheet" href="bower_components/flex-class/flex.css" media="screen" title="no title">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" media="screen" title="no title">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,700|Raleway:100,100i,200,300,400,700,800,900|Slabo+27px" rel="stylesheet">
  {% seo %}
</head>
<body>
  <nav class="global flex flex--space-between align-center">
    <div class="logo">
      <h2>A</h2>
    </div>
    <div class="nav-wrapper flex flex--end align-end"><a href="">Home</a><a href="">About</a><a href="">Services</a><a href="">Team</a><a href="">Clients</a></div>
  </nav>
  <header class="flex flex--start align-start columns">
    <div class="title-wrap">
      <h1>Welcome To Asset Chemist</h1>
    </div>
  </header>
  <section class="what-we-do flex flex--center align-center rows">
    <div class="flex-unit flex flex--center align-center columns"><i class="fa fa-facebook fa-2x"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.</p>
    </div>
    <div class="flex-unit flex flex--center align-center columns"><i class="fa fa-facebook fa-2x"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.</p>
    </div>
    <div class="flex-unit flex flex--center align-center columns"><i class="fa fa-facebook fa-2x"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.</p>
    </div>
    <div class="flex-unit flex flex--center align-center columns"><i class="fa fa-facebook fa-2x"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed.</p>
    </div>
  </section>
  <section class="meet-the-team flex flex--center align-center rows">
    <div class="para-wrap flex flex--start align-start columns">
      <h2>Meet Our Company </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique incidunt magnam odit fuga nisi sit numquam in ipsam dolorum, rerum, explicabo ipsa soluta dolore vero, libero odio possimus veniam!</p><a href="" title="The Latest" class="btn">SEE OUR LATEST WORK</a>
    </div>
  </section>
</body>
